# Database Connection
ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=SMTDb;Username=postgres;Password=admin
DbConnection=Host=localhost;Port=5432;Database=SMTDb;Username=postgres;Password=admin

# JWT Configuration
JwtOptions__SecretKey=YOUR_SECRET_KEY_HERE_MINIMUM_32_CHARACTERS_LONG
JwtOptions__Issuer=SMTAPI
JwtOptions__Audience=SMTClient
JwtOptions__ExpiresHours=12